.nav-container {
    background-color: #e4e5e6; 
    padding: 0.5rem 1rem;
}

remove this part 
.heading-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.ticket {
    font-size: 1.25rem;
    font-weight: 500;
} 

.ticketpage_container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    border: 1px solid rgb(206, 201, 201);
}  

.left-section {
    width: 30%;
    border: 1px solid rgb(206, 201, 201);
}

.right-section {
    width: 70%;
    border: 1px solid rgb(206, 201, 201);
}

.form-group {
    margin: 1rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.2rem;
}

.form-group select, .form-group input {
    width: 85%;
    padding: 0.5rem;
    box-sizing: border-box;
    background-color: #e4e5e6;
}

.horizontal-group {
    display: flex;
    justify-content: space-between;
}

.horizontal-group .form-group {
    flex: 1;
    margin-right: 1rem;
}

.horizontal-group .form-group:last-child {
    margin-right: 0;
}

.right-section .heading-tab {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.4rem;
    border-style: solid rgba(28, 3, 3, 0.025);
    background-color: #f0f4f7;
}

.right-section .box1 {
    padding: 0.2rem;
    border: 1px solid #eee4e4;
    height: 40%;
    position: relative;
}

.right-section .box1 textarea {
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
    border: none;
    outline: none;
    resize: none;
}

.right-section .box2 {
    padding: 0.2rem;
    border: 1px solid #eee4e4;
    height: 54%;
    position: relative;
}

.right-section .box2 textarea {
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
    border: none;
    outline: none;
    resize: none;
}

.right-section::placeholder {
    width: 100%;
    height: 100%;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f4;
     padding: 1rem;
    text-align: center;
    border-top: 1px solid rgb(255, 255, 255);
    
  }
.button-submit {
    background-color: rgb(3, 56, 27);
    color: white;
    border: none;
    cursor: pointer;
    margin: 2px;
    border-radius: 40px;
}
.button-submit:hover {
    background-color: #04674e;
}

.icon {
    position: absolute;
    left: 0.05px;

    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}