html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.sidebar-container {
  display: flex;
  height: 100vh;
  position: fixed;
}
.sidebar {
  background: linear-gradient(to bottom, #3E6747 0%, #0C1320 100%);
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 10px 10px 10px;
}
.sidebar img {
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sidebar img:hover {
  background-color: #575757;
  border-radius: 4px;
  transform: scale(1.1);
}

.sidebar img.active {
  border: 5px solid grey;
}

.content {
  flex-grow: 1;
  padding: 20px;
  background: #f0f0f0; /* Example content background color */
}
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 80px; 
  color: #fff;
  text-align: center;
  position: absolute;
  z-index: 1;
  left: 100%;
  left: 50%;
  bottom: -1px;
  transform: translateX(-50%);
  margin-left: 0px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  transition:  0.5s ease-in-out;
}